.logic-section {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 50px;
}

label p {
    display: inline-block;
    width: 200px;
}

label input, label select {
    width: 150px
}

.totals {
    font-weight: bold
}

hr {
    border-top: 2px solid white;
}